<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="People.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <title>People</title>
</head>
<body ng-app="PeopleApp" ng-cloak>
<md-content ng-controller="PeopleController" layout="column" layout-padding>
    <h2>People</h2>
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="person in people">
                <div class="md-list-item-text">
                    <h3>{{ person.name }}</h3>
                    <p>Children: {{ person.children.join(', ') }}</p>
                    <p>Descendants: {{ findDescendants(person, people).join(', ') }}</p>
                </div> 
            </md-list-item>  
        </md-list>        
    <h2>Add a person</h2>
        <form ng-submit="addPerson()">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Person</label>
                <input ng-model="person.name">
            </md-input-container>
            <md-chips ng-model="person.children">
                <input type="text" placeholder="Enter names of children">
            </md-chips>
            <div layout="row">
                <span flex></span>
                <md-button type="submit">Add person</md-button>
            </div>
        </form>
</md-content>
</body>
</html>